<h1>Friends Index</h1>

{{! The context here is the controller }}

<h3>Total friends: {{model.length}}</h3>

<ul>
  {{#each friend in model}}
    <li>
      ID {{friend.id}}
      {{! link-to w/model param: http://emberjs.com/api/classes/Ember.Handlebars.helpers.html#toc_supplying-a-model }}
      {{#link-to 'friends.show' friend}}
        {{friend.fullName}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>